/* здесь используйте глобальные переменные */
$black-text-color: #000000;
$base-text-color: #222222;
$dark-grey-text-color: #444444;
$white-text-color: #ffffff;
$hover-color: #3e3e3e;

$bg-basic_green: #68b738;
$bg-grey-color: #f2f2f2;


$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$tablet-width: 768px;
$desctop-width: 1440px;
