/* здесь используйте глобальные переменные */
$black-text-color: #000000;
$base-text-color: #222222;
$dark-grey-text-color: #444444;
$white-color: #ffffff;
$hover-color: #3e3e3e;

$bg-basic_green: #68b738;
$bg-green-hover: #5eaa2f;
$bg-grey-color: #f2f2f2;
$bg-grey-hover: #ebebeb;
$line-color: #d9d9d9;
$icon-color: #666666;
$border-color: #e7e7e7;

$margin-top-mobile: 20px;


$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;
