.adventages__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $black-text-color;
}

.adventages__item {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey-text-color;
  list-style-type: none;
}
