.adventages__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $black-text-color;
}

.adventages__item {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey-text-color;
  list-style-type: none;
}

.adventages__item--healthy {
  background-image: url("../../images/icons/icon_leaf.svg#icon_leaf");
  background-color: $bg-basic_green;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25px 28px;
}

.adventages__item--view {
  background-image: url("../../images/icons/stack.svg#icon_water");
  background-color: $bg-basic_green;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 26px 28px;
}

.adventages__item--replace {
  background-image: url("../../images/icons/stack.svg#icon_eat");
  background-color: $bg-basic_green;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25px 30px;
}

.adventages__item--changes {
  background-image: url("../../images/icons/stack.svg#icon_watch");
  background-color: $bg-basic_green;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 26px 31px;
}
