.adventages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: $margin-top-mobile;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 154px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 230px);
    gap: 80px;
  }
}

.adventages__item {
  display: flex;
  margin-top: $margin-top-mobile;

  &:last-child {
    margin-bottom: 49px;
  }
}

.adventages__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $black-text-color;
  margin: 0;
  margin-top: $margin-top-mobile;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
  }
}

.adventages__subtitle {
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey-text-color;
  margin: 0;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.adventages__item--healthy::before {
  content: "";
  display: block;
  background-image: url("../../images/icons/icon_leaf.svg#icon_leaf");
  background-color: $bg-basic_green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 28px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.adventages__item--view::before {
  content: "";
  display: block;
  background-image: url("../../images/icons/icon_water.svg#icon_water");
  background-color: $bg-basic_green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 28px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.adventages__item--replace::before {
  content: "";
  display: block;
  background-image: url("../../images/icons/icon_eat.svg#icon_eat");
  background-color: $bg-basic_green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 30px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.adventages__item--changes::before {
  content: "";
  display: block;
  background-image: url("../../images/icons/icon_watch.svg#icon_watch");
  background-color: $bg-basic_green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 31px;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
