.adventages__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 37px 154px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 230px);
    gap: 80px;
  }
}

.adventages__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $black-text-color;
}

.adventages__item {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey-text-color;
  list-style-type: none;
}

.adventages__item--healthy {
  background-image: url("../../images/icons/icon_leaf.svg#icon_leaf");
  background-color: #cccccc;//временный цвет
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25px 28px;
}

.adventages__item--view {
  background-image: url("../../images/icons/icon_water.svg#icon_water");
  background-color: #cccccc;//временный цвет
  background-repeat: no-repeat;
  background-position: left;
  background-size: 26px 28px;
}

.adventages__item--replace {
  background-image: url("../../images/icons/icon_eat.svg#icon_eat");
  background-color: #cccccc;//временный цвет
  background-repeat: no-repeat;
  background-position: left;
  background-size: 25px 30px;
}

.adventages__item--changes {
  background-image: url("../../images/icons/icon_watch.svg#icon_watch");
  background-color: #cccccc;//временный цвет
  background-repeat: no-repeat;
  background-position: left;
  background-size: 26px 31px;
}
