.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white-text-color;
  background-color: $bg-basic_green;
  text-decoration: none;
  border: none;
}

.button--secondary {
  background-color: $bg-grey-color;
  color: $dark-grey-text-color;
}
