.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white-color;
  background-color: $bg-basic_green;
  text-decoration: none;
  border: none;
  display: inline-block;
  width: 100%;
  padding: 10px 44px;
  text-align: center;

  &:hover {
    background-color: $bg-green-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--secondary {
  background-color: $bg-grey-color;
  color: $dark-grey-text-color;
  margin-top: 21px;

  &:hover {
    background-color: $bg-grey-hover;
  }

  @media (min-width: $tablet-width) {
    margin-top: 87px;
  }
}
