.catalog {
  margin-top: $margin-top-mobile;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 30px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-top: 372px;
  }
}

.catalog__wrapper {
  position: relative;
  background-color: $bg-grey-color;
  padding: 31px 19px 18px 20px;

  &:not(:first-child) {
    margin-top: 21px;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 63px 63px 52px;

    &:not(:first-child) {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 65px 52px;
  }
}

.catalog__wrapper--cat-slim::after {
  content: "";
  position: absolute;
  display: block;
  top: 21px;
  left: 27px;
  background-image: url("../../images/icons/cat-slim.svg#cat-slim");
  background-repeat: no-repeat;
  background-size: 36px;
  width: 36px;
  height: 50px;

  @media (min-width: $tablet-width) {
    top: 81px;
    left: auto;
    right: 93px;
    width: 140px;
    height: 194px;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: 40px;
    left: 67px;
  }
}

.catalog__wrapper--cat-slim::before,
.catalog__wrapper--cat-pro::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: $bg-basic_green;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 20px;

  @media (min-width: $tablet-width) {
    top: 92px;
    left: auto;
    right: 63px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: 46px;
    left: 52px;
  }
}

.catalog__wrapper--cat-pro::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 13px;
  background-image: url("../../images/icons/cat-pro.svg#cat-pro");
  background-repeat: no-repeat;
  background-size: 67px;
  display: block;
  width: 67px;
  height: 28px;

  @media (min-width: $tablet-width) {
    top: 135px;
    left: auto;
    right: 25px;
    width: 268px;
    height: 112px;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    top: 66px;
    left: 33px;
    width: 134px;
    height: 57px;
  }
}

.catalog__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  color: $black-text-color;
  text-transform: uppercase;
  margin: 0;
  margin-left: 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 163px;
  }
}

.catalog__subtitle {
  position: relative;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey-text-color;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 19px;
  padding-bottom: 23px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $line-color;
    top: 100%;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 24px;
    width: 340px;
    padding: 0;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-top: 73px;
    width: 100%;
  }
}

.catalog__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black-text-color;
  background-size: 24px;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: block;
    background-image: url("../../images/icons/arrow.svg#arrow");
    background-repeat: no-repeat;
    background-position: center 15px;
    width: 32px;
    height: 10px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-top: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 34px;
  }
}
