.contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: $bg-grey-color;

  @media (min-width: $tablet-width) {
    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 79px;
    background-color: $white-color;
    position: absolute;
    top: 95px;
    width: 565px;
  }
}

.contacts__color {
  background-color: $white-color;
}

.contacts iframe {
  display: block;
}

.main-footer__map {
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__title {
  font-family: $secondary-font;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;
  width: 165px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 27px;
    width: 163px;
  }
}

.contacts__address {
  font-size: 14px;
  color: $dark-grey-text-color;
  margin: 0;
  width: 165px;

  @media (min-width: $tablet-width) {
    width: 157px;
    font-size: 16px;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.contacts__address span {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}
