.exampel__wrapper {
  background-color: #eaeaea;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 101px;
  }
}

.exampel__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 227px;
  }
}

.exampel__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $black-text-color;
  margin: 0;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 45px;
  }
}

.exampel__subtitle {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey-text-color;
  margin: 0;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-top: 146px;
  }
}

.exampel__result {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
  }
}

.exampel__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 0;
  margin-top: $margin-top-mobile;

  @media (min-width: $tablet-width) {
    width: 367px;
    gap: 43px;
    margin: 0;
  }
}

.exampel__item {
  text-align: center;
}

.exampel__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $black-text-color;
  padding-top: 14px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.exampel__description {
  font-size: 12px;
  line-height: 12px;
  color: $dark-grey-text-color;
  margin: 0;
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.exampel__subtitle-price {
  font-family: $secondary-font;
  font-size: 14px;
  text-transform: uppercase;
  color: $black-text-color;
  margin: 0;
  margin-top: $margin-top-mobile;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 0;
    text-align: end;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    flex-direction: row;

    & span {
      margin-left: 63px;
    }
  }
}

.cat-before {
  margin-top: $margin-top-mobile;
}

.exampel__image {
  width: 280px;
  height: 256px;
  margin: 0 auto;
  display: flex;
  position: relative;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
    margin-top: 99px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/5;
  }
}

.exampel__image-cat {
  max-width: 100%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    width: 280px;
    height: 256px;
    max-width: initial;
    user-select: none;
    pointer-events: none;
  }

  &--after {
    img {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    img {
      width: 560px;
      height: 512px;
    }
  }
}

.exampel__slider {
  width: 4px;
  height: 100%;
  background-color: $icon-color;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 50%;
}

.exampel__slider-button {
  display: block;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url("../../images/icons/slider-button.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

