.main-form__container {
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form {
  overflow: hidden;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
  }
}

.form__name {
  @media (min-width: $tablet-width) {
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-top: 66px;
  }
}

.form__button {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 284px 1fr;
    align-items: center;
    margin-top: 57px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 570px 1fr;
    margin-top: 65px;
  }
}
