.main-container__main {
  background-image: url("../../images/index-background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 14px;
}

.main-container__main-image {
  margin-top: 29px;
}

.main-container__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: $white-color;
  margin: 0;
  padding-top: 27px;
}

.main-container__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white-color;
  margin: 0;
  margin-top: 25px;
}

@media (min-width: $tablet-width) {
  .main-container__main {
    position: relative;
    background: none;
  }

  .main-container__title {
    color: $black-text-color;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    width: 510px;
    padding-left: 60px;
  }

  .main-container__subtitle {
    color: $black-text-color;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    padding-left: 60px;
    margin-top: 40px;
  }

  .main-container__button {
    position: absolute;
    top: 260px;
    left: 90px;
    max-width: 244px;
  }
}

@media (min-width: $desktop-width) {
  .main-container__main {
    background-image: url("../../images/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 720px 694px;
    background-position: right top;
  }
}
