.main-header {
  padding-top: 13px;
  padding-bottom: 11px;
  position: relative;
  border-bottom: 1px solid $line-color;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 25px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-text {
  display: block;
  margin-left: 56px;

  @media (min-width: $tablet-width) {
    margin-left: 13px;
  }
}
