.main-nav {
  display: block;
}

.main-nav__wrapper {
  display: block;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 10;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: block;
    width: auto;
    position: relative;
    top: 0;
  }
}

.main-nav__toggle {
  display: none;
}

.main-nav__list a {
  position: relative;
  display: block;
  padding: 22px 0;
  text-align: center;
  margin: 0;
  color: $black-text-color;

  @media (min-width: $desktop-width) {
    padding-top: 11px;
  }
}

.main-nav__list .main-nav__link-index {
  @media (min-width: $desktop-width) {
    color: $white-color;

    &::after {
      background-color: $white-color;
    }
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  background-color: $white-color;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $line-color;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    background-color: transparent;
    max-width: 500px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    gap: 34px;
    margin: 0;
  }
}

.main-nav__item {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-text-color;
  list-style: none;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $line-color;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 21px;
  z-index: 2;
}

.main-nav__link {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--active {
  display: none;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      height: 2px;
      background-color: $bg-basic_green;
    }
  }
}
