.social {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px 0;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $line-color;
    top: 100%;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &::after {
      display: none;
    }
  }
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  &:hover,
  &:focus {
    background-color: $bg-basic_green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--vk {
  mask-image: url("../../images/icons/stack.svg#vkontakte");
  mask-repeat: no-repeat;
  background-color: $icon-color;
  display: block;
  width: 28px;
  height: 22px;
}

.social__link--youtube {
  mask-image: url("../../images/icons/stack.svg#youtube");
  mask-repeat: no-repeat;
  background-color: $icon-color;
  display: block;
  width: 28px;
  height: 22px;
}


.social__link--telegram {
  mask-image: url("../../images/icons/stack.svg#telegram");
  mask-repeat: no-repeat;
  background-color: $icon-color;
  display: block;
  width: 28px;
  height: 22px;
}
